@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Poppins|Raleway');

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;

}




p {
    font-family: 'Poppins', sans-serif;


}


h5 {
    color: #3498db;
}

.highlight {
    color: #3498db;
}

ul {
    list-style-type: square;
}

.jumbotron{

background: linear-gradient(313deg, #2196f3, #f44336);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

padding-top: 10%;
padding-bottom: 10%;
color: white;

}

.jumbotron a {
    margin: 10px;
}

hr {
	width: 15%;
    height: 1px;

}



@-webkit-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes AnimationName { 
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}

.jumbotron h1 {
	font-family: 'Great Vibes', cursive;
	font-weight: 30;

}

.jumbotron a {
	color: white;
}

.jumbotron i {
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    margin-top: 50px;
    background-color: #222222;
    padding:20px;
    color: white;

}

.footer i {
    margin: 10px;
}

.bold {
    color: black;

}


