<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>

  
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sam Warburton
      </h1>
      <h2 class="subtitle">
        Web Developer from Melbourne
      </h2>
     <p> <a href="{{ site.baseurl }}/">Home</a>   <a href="{{ site.baseurl }}/blog">Blog </a>   <a href="{{ site.baseurl }}/contact">Contact</a> </p>

    </div>
  </div>



</section>







<div class="container">

<div id="main" role="main" class="content">
      {{ content }}
</div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
          {% include svg-icons.html %}
    </div>
  </div>
</footer>

    {% include analytics.html %}
  </body>
</html>
